body{

margin:0;
font-family:Arial;
background:#0f172a;
color:white;

}

header{

display:flex;
justify-content:space-between;
padding:15px;
background:#020617;

}

.dashboard{

display:flex;
height:90vh;

}

.sidebar{

width:200px;
background:#020617;
padding:20px;

}

.sidebar a{

display:block;
margin-bottom:15px;
color:white;
text-decoration:none;

}

.main{

flex:1;
padding:20px;

}

.chart-card{

background:#1e293b;
padding:20px;
border-radius:10px;

}

.price-box{

display:flex;
justify-content:space-between;
font-size:18px;

}

.bot-box{

margin-top:30px;

}