body{

margin:0;
font-family:Arial;
background:#0f172a;
color:white;

}

header{

display:flex;
justify-content:space-between;
align-items:center;
padding:15px 30px;
background:#020617;

}

.logo{

font-size:20px;
font-weight:bold;
color:#22c55e;

}

nav a{

margin:0 10px;
text-decoration:none;
color:white;

}

.auth a{

margin-right:10px;
color:white;
text-decoration:none;

}

.auth button{

background:#22c55e;
border:none;
padding:8px 15px;
border-radius:6px;

}

.hero{

text-align:center;
margin-top:120px;

}

.start-btn{

background:#22c55e;
padding:12px 25px;
border-radius:8px;
color:white;
text-decoration:none;

}